<p>about works!</p>

<!DOCTYPE html>

<div class="about-2">
    <h1 class="about-3">María José Noreña Rodríguez</h1>

    <div>
        <p>Developer.</p>
    </div>
    <div class="aboutmj-1">
        <img src="assets/image/IFing.jpg" alt="IFing"
        class="about-4"
        onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
        <div class="about-5">
          
            <img src="assets/image/majoimg.jpg" alt="IFing"
              class="about-6"
                onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
            <div class="about-7">
                <h3 style="color: black;">Detrás de la pantalla</h3>
                <p style="color: black;">María José es una exploradora de sueños y desafíos, una mente curiosa que
                    combina la lógica de la ingeniería con el entusiasmo de un espíritu libre. Es la sonrisa entre
                    cálculos, la chispa entre circuitos, y el corazón que late por la tecnología. Con la mirada
                    puesta en el universo y los pies en la tierra, cada paso que da está lleno de pasión y
                    determinación. Amante de los desafíos y de encontrar belleza en los detalles, María José ve el
                    mundo no solo como un espacio para existir, sino como un lugar lleno de oportunidades para
                    crear, aprender y dejar huella..</p>
            </div>
        </div>
    </div>

</div>

<div class="about-8">

    <div class="about-9">
        <div class="about-10"
            onmouseover="this.style.transform='scale(1.04)';" onmouseout="this.style.transform='scale(1)';">
            <h1 class="about-11">Mis Estudios</h1>
            <p class="about-11">Estudié en la Institución Educativa Ezequiel Hurtado en Silvia, Cauca.
                Actualmente, curso la carrera de Ingeniería de Sistemas en la Universidad Cooperativa de Colombia,
                Campus Cali. Entre mis habilidades destacan conocimientos en Inteligencia Artificial, manejo de GitHub,
                programación en Python y gestión de bases de datos en MySQL. A lo largo de mi formación, he participado
                en diversas capacitaciones, incluyendo el programa Jóvenes Creativos (2024, en curso) y el Bootcamp de
                Inteligencia Artificial Talento Tech, con una duración de 159 horas. Además, he completado el curso
                Python Essential 1 de Cisco (2023), el curso de Desarrollo Web Básico del SENA (2023, 8 horas), la
                capacitación en Formulación de Proyectos de Investigación Formativa en el SENA (2022, 144 horas) y un
                curso de Aplicación de la Electrónica y Robótica en Proyectos de Ciencia, Tecnología e Innovación,
                también en el SENA (2022, 144 horas).</p>
        </div>
        <div class="about-10"
            onmouseover="this.style.transform='scale(1.04)';" onmouseout="this.style.transform='scale(1)';">
            <h1 class="about-11">Programa Jovenes Creativos</h1>
            <p class="about-11">Quiero expresar mi más sincero agradecimiento al programa Jóvenes Creativos por
                brindarme esta oportunidad tan enriquecedora. Durante estos meses, he tenido el privilegio de formar
                parte de un entorno que ha fomentado el aprendizaje y el desarrollo en áreas clave de la tecnología.
                Gracias a este programa, he podido fortalecer mis habilidades técnicas y explorar nuevas ideas que me
                impulsan a seguir adelante. Cada capacitación, charla y actividad me ha permitido expandir mis
                conocimientos y adaptarme a las nuevas tendencias tecnológicas. Estoy profundamente agradecida con cada
                persona que forma parte de este programa, por su apoyo constante, su compromiso y por crear un espacio
                donde no solo se aprende, sino que también se crece personalmente. Su dedicación ha sido esencial para
                que esta experiencia se haya convertido en una fuente continua de inspiración y motivación, alentándome
                a seguir persiguiendo mis metas y sueños en el mundo de la tecnología.</p>
        </div>
    </div>
</div>