.form-style-1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.form-input-1 {
    margin-bottom: 15px;
    text-align: left;
}

.form-registro {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.body-registro {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

}