<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silvia Page</title>
</head>

<body class="body-registro" style="background-image: url('assets/image/iglesia belen 4.jpg');">
<div class="form-registro">
    <form class="form-style-1">
        <h2>Registrate para recibir noticias y eventos de Silvia</h2>
        <div class="form-input-1">
            <label for="firstName">Nombre:</label>
            <input type="text" id="firstName" name="firstName" required>
        </div>
        <div class="form-input-1">
            <label for="lastName">Apellido:</label>
            <input type="text" id="lastName" name="lastName" required>
        </div>
        <div class="form-input-1">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div (click)="register()" style="border-radius: 15px; display: flex; width: 100%; height: 2rem; background-color: #17db93; align-items: center; justify-content: center;">
            <p style="color: white; margin: 0;">Registrar</p>
        </div>
    </form>
    <!-- <button type="submit" (click)="register()">Registro</button> -->
</div>
</body>


</html>
