<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silvia Page</title>
</head>

<body class="silvia-1" style=" background-image: url('assets/image/conocesilvia.webp');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
margin: 0;">
    <div
       class="silvia-2">
        <h1
        class="silvia-3">
            Silvia Un Encuentro con la Cultura y Naturaleza del Cauca
        </h1>
        <div class="silvia-4">
            <p class="silvia-5">
            <p class="silvia-6">
                En el corazón de la Cordillera Central, a 2.620 metros sobre el
                nivel
                del mar, se encuentra Silvia, un municipio vibrante que fusiona
                tradición, naturaleza y historia. Rodeado de montañas, ríos y
                quebradas, Silvia es hogar de seis resguardos indígenas: Ambaló,
                Guambía (Guambianos),
                Kisgo, Pitayó, Quichaya y Tumburao, que mantienen vivas sus
                costumbres ancestrales. A tan solo 59 km de Popayán, Silvia ofrece
                un paisaje impresionante y
                una cultura rica en historia. Sus senderos naturales, ideales para
                el
                ecoturismo, invitan a explorar cascadas y montañas que cuentan
                historias de siglos pasados. Además, la región es conocida por su
                ganadería tradicional, agricultura y una gastronomía deliciosa que
                refleja su identidad.
                Este destino es perfecto para quienes buscan una experiencia
                auténtica, inmersa en la calidez de su gente y la magia de su
                tierra.
                Silvia es más que un lugar, es una invitación a descubrir lo mejor
                de
                la cultura y la naturaleza del Cauca. ¡Ven y déjate cautivar!
            </p>

        </div>
    </div>
    <div>
        <div
        class="silvia-7">
            <div class="silvia-8">
                <h2 class="silvia-9">¡Visítanos
                    y Descubre Silvia!</h2>
                <div style="width: 100%; margin: 0 auto;">
                    <iframe width="400rem" height="400rem" frameborder="0" style="border:0; border-radius:25px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.1234567890123!2d-76.1234567890123!3d2.1234567890123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f1234567890123%3A0x1234567890123456!2sSilvia%2C%20Cauca%2C%20Colombia!5e0!3m2!1sen!2sco!4v1234567890123"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    <div
        style="height: 20vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
        <h2
            style="color: white; text-shadow: 2px 2px 4px #000000, 2px 2px 4px #FF0000, 2px 2px 4px #00FF00, 2px 2px 4px #0000FF; font-size: 2em;">
            Resguardos Indigenas de Silvia
        </h2>
    </div>

<div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 20px; max-width: 1000px; margin: 0 auto;">
        <div
            style="flex: 1 1 100%; padding: 10px; display: flex; flex-direction: column; align-items: center; max-width: 300px;">
            <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; width: 100%;">
                <h3 style="color: black;">Resguardo Indigena de Guambia</h3>
                <p style="color: black;">Los misak o guambianos son un pueblo
                    originario americano que habita en el sur de Colombia en el
                    departamento del Cauca.
                    Su Resguardo Mayor original Guambìa está en el municipio de Silvia
                    y habitan también en otros lugares cercanos, de la Cordillera
                    Central de los Andes colombianos.
                    Para poder acceder a tierra cultivable, Hablan su propia lengua
                    Wampi misamera wam, el Namtrik o idioma guambiano, que está
                    estrechamente relacionada con las lenguas Totoró. </p>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 10px;">
                <img src="assets/image/guambianos.webp" alt="resguardo indigena de guambia"
                    style="width: 15rem; height: 15rem;; border-radius: 20px;transition: transform 0.3s ease-in-out; z-index: 1;"
                    onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
            </div>
        </div>

        <div
            style="flex: 1 1 100%; padding: 10px; display: flex; flex-direction: column; align-items: center; max-width: 300px;">
            <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 10px;">
                <img src="assets/image/ambalo.jpg" alt="Reguardo de ambaló"
                    style="width: 15rem; height: 15rem; border-radius: 20px;transition: transform 0.3s ease-in-out; z-index: 1;"
                    onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
            </div>
            <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; width: 100%;">
                <h3 style="color: black;">Resguardo de Ambaló</h3>
                <p style="color: black;">Situado en las montañas que rodean el
                    municipio, Ambaló es reconocido por su impresionante paisaje,
                    donde la naturaleza y la vida indígena se funden en armonía.
                    Los habitantes de Ambaló son conocidos por su conexión profunda
                    con la tierra, su habilidad para el cultivo de productos como el
                    maíz, la papa y la mora, y por ser guardianes de un conocimiento
                    ancestral sobre la agricultura sostenible.</p>
            </div>

        </div>

        <div
            style="flex: 1 1 100%; padding: 10px; display: flex; flex-direction: column; align-items: center; max-width: 300px;">
            <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; width: 100%;">
                <h3 style="color: black;">Resguardo de Kisgo</h3>
                <p style="color: black;">En el resguardo de Kisgo, en Silvia, los
                    turistas tienen la posibilidad de entrar en contacto con indígenas
                    Paeces y Guambianos.
                    Entre los atractivos de este sitio están la laguna de Quizgó,
                    considerada como un sitio sagrado por los habitantes de la región,
                    y la vereda del nombre Kisgo, donde se aprecia el trabajo de los
                    artesanos locales y se practica la piscicultura. </p>
            </div>
            <div
                style="display: flex; position: relative; bottom: 0px; justify-content: center; align-items: center; width: 100%; margin-top: 10px;">
                <img src="assets/image/kisgo.jpg" alt="resguardo indigena de guambia"
                    style="width: 15rem; height: 15rem; border-radius: 20px;transition: transform 0.3s ease-in-out; z-index: 1;"
                    onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
            </div>
        </div>

        <div
            style="flex: 1 1 100%; padding: 10px; display: flex; flex-direction: column; align-items: center; max-width: 300px;">

            <div style="display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 10px;">
                <img src="assets/image/kichaya.png" alt="Resguardo de Quichaya"
                    style="width: 15rem; height: 15rem; border-radius: 20px;transition: transform 0.3s ease-in-out; z-index: 1;"
                    onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
            </div>
            <div
                style="background-color: rgba(255, 255, 255, 0.8); position: relative; bottom: 0px; padding: 10px; border-radius: 5px; width: 100%;">
                <h3 style="color: black;">Resguardo de Quichaya</h3>
                <p style="color: black;">La comunidad de Quichaya mantiene una
                    relación estrecha con su entorno natural, dedicándose
                    principalmente a la agricultura, el cultivo de productos como el
                    maíz, la papa, el frijol y la mora, y a la ganadería tradicional.
                    La tierra, tanto en su diversidad de cultivos como en sus
                    paisajes, es considerada sagrada por los habitantes, quienes
                    practican una agricultura respetuosa con el medio ambiente y
                    fundamentada en conocimientos transmitidos de generación en
                    generación.</p>
            </div>
        </div>
        
        <div
            style="flex: 1 1 100%; padding: 10px; display: flex; flex-direction: column; align-items: center; max-width: 300px;">
            <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; width: 100%;">
                <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px;">
                    <h3 style="color: black;">Resguardo Tumburao</h3>
                    <p style="color: black;">Tumburao es una comunidad profundamente
                        conectada con la naturaleza y su economía se basa principalmente
                        en la agricultura sostenible.
                        Los habitantes de Tumburao cultivan productos como maíz, papa,
                        frijol y hortalizas, siguiendo prácticas agrícolas que respetan
                        los ciclos de la tierra y los conocimientos ancestrales
                        heredados por generaciones. Además, la ganadería tradicional es
                        una actividad importante en la región. </p>
                </div>

                <div
                    style="display: flex; position: relative; bottom: 0px; justify-content: center; align-items: center;">
                    <img src="assets/image/misak.jpg" alt="resguardo indigena de guambia"
                        style="width: 15rem; height: 15rem; margin-left: 10px;border-radius: 20px;transition: transform 0.3s ease-in-out; z-index: 1;"
                        onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
                </div>
            </div>
        </div>

        <div
            style="flex: 1 1 100%; padding: 10px; display: flex; flex-direction: column; align-items: center; max-width: 300px;">
            <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; width: 100%;">

                <div style="display: flex; justify-content: center; align-items: center;">
                    <img src="assets/image/pitayo.jpg" alt="Resguardo de Pitayo"
                        style="width: 15rem; height: 15rem; margin-right: 10px;border-radius: 20px;transition: transform 0.3s ease-in-out; z-index: 1;"
                        onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
                </div>
                <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px;">
                    <h3 style="color: black;">Resguardo de Pitayo</h3>
                    <p style="color: black;">El Resguardado de Pitayó es uno de los
                        seis resguardos que componen el municipio de Silvia, en el
                        departamento del Cauca, y es hogar de una comunidad Guambiana
                        que ha preservado sus tradiciones y costumbres ancestrales a lo
                        largo de los siglos. Este resguardado se encuentra en un entorno
                        montañoso de gran belleza natural, en la vertiente occidental de
                        la Cordillera Central, donde los paisajes de verdes valles, ríos
                        y montañas proporcionan un refugio perfecto para las tradiciones
                        indígenas.</p>
                </div>
            </div>
        </div>
    
    </div>

    <div style="position: absolute; top: 250%; left: 30%; width: 400px; height: 400px; background-color: rgb(51, 0, 255); border-radius: 50%; transform: translate(-50%, -50%); z-index: -1;"></div>
    <div style="position: absolute; top: 220%; left: 50%; width: 200px; height: 200px; background-color: rgb(255, 0, 191); border-radius: 50%; transform: translate(-50%, -50%); z-index: -1;"></div>
    <div style="position: absolute; top: 330%; left: 80%; width: 300px; height: 300px; background-color: rgb(0, 0, 0); border-radius: 50%; transform: translate(-50%, -50%); z-index: -1;"></div>

    <div style="position: absolute; top: 320%; left: 20%; width: 250px; height: 250px; background-color: rgb(51, 0, 255); border-radius: 50%; transform: translate(-50%, -50%); z-index: -1;"></div>
    <div style="position: absolute; top: 280%; left: 50%; width: 150px; height: 150px; background-color: rgb(255, 0, 191); border-radius: 50%; transform: translate(-50%, -50%); z-index: -1;"></div>
    <div style="position: absolute; top: 210%; left: 80%; width: 380px; height: 380px; background-color: rgb(0, 0, 0); border-radius: 50%; transform: translate(-50%, -50%); z-index: -1;"></div>

</div>

    <!-- <div style="display: flex; width: 100%; margin-top: 20px;">
      <div style="flex: 1; padding: 10px; display: flex; align-items: center; justify-content: center;">
        <img src="assets/image/umburado.png" alt="Resguardo de Tumburado"
          style="width: 20%; height: auto; margin-right: 10px;border-radius: 20px;">
        <div style="background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px;">
          <h3 style="color: black;"></h3>
          <p style="color: black;">La comunidad de Quichaya mantiene una relación estrecha con su entorno natural, dedicándose principalmente a la agricultura, el cultivo de productos como el maíz, la papa, el frijol y la mora, y a la ganadería tradicional.
            La tierra, tanto en su diversidad de cultivos como en sus paisajes, es considerada sagrada por los habitantes, quienes practican una agricultura respetuosa con el medio ambiente y fundamentada en conocimientos transmitidos de generación en generación.</p>
        </div>
      </div>
    </div> -->

    <div
        style="background-image: url('path/to/your/image.jpg'); background-size: cover; background-position: center; width: 100%; height: 100vh;">
    </div>
</body>

</html>